@charset "UTF-8";

* {
	outline: 1px dotted red;
}

.square {
	background: #00aa9d;
	border-radius: 3px;
	height: 150px;
	margin: 100px;
	position: absolute;
	transition: transform 0.8s;
	width: 150px;
  }
  
  .square1 {
	background: #2b3f53;
	border-radius: 3px;
	height: 150px;
	margin: 100px;
	transition: transform 0.8s;
	position: absolute;
	width: 150px;
  }
  
  .square1:hover {
	transform: translate(100px, 100px);
  }